Flask==2.2.3
Flask-Login==0.6.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Jinja2==3.1.2
Pillow==8.4.0
WTForms==3.0.1
Werkzeug==2.2.3
SqlAlchemy==2.0.4
SqlAlchemy-serializer==1.4.1
requests==2.28.1